html {
    background: #1c1c1c;
    box-sizing: border-box;
    color: #cacecf;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
}
*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: #fff;
}

body {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
    background: #2c2c2c;
}

.form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "password body"
        "certificate body"
        "certificate body"
        "button button"
        "result result"
        "log log";
}

@media (max-width: 600px) {
    .form {
        grid-template-columns: 1fr;
        grid-template-areas:
            "password"
            "certificate"
            "body"
            "button"
            "result"
            "log";
    }
}

.form__password { grid-area: password; }
.form__certificate { grid-area: certificate; }
.form__body { grid-area: body; }
.form__result { grid-area: result; }
.form__log { grid-area: log; }
.form__button { grid-area: button; }

input, textarea {
    background: #333;
    border: 1px solid #555;
    color: #cacecf;
    display: block;
    height: 100%;
    padding: 5px;
    resize: none;
    width: calc(100% - 20px);
}

.button {
    background: #703232;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button:hover,
.button:focus {
    background: #5a2d2d;
}

.button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.button:active {
    transform: scale(0.99);
}

.footer {
    margin: 20px 0 0;
}
